
.home-container3 {
  background-image: linear-gradient(to left, #d2caf3, #ffffff);
  min-height: 100vh;
  width: 100vw;
}

.navbar3 {
  background: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5vh;
}

.logo-section3 {
  display: flex;
  align-items:center;
  gap: 8px;

}

.logo3 {
  height: 24px;
}

.nav-links3 {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-left: 15px; 
  color: #6b7280;
}

.nav-links3 a {
  margin-right: 16px;
  text-decoration: none;
  color: #6b7280;
  font-weight: 500;
  transition: color 0.3s; /* Smooth transition for hover effect */

}

.content-container3 {
  display: flex;
  margin-top: 40px;
  width: 100vw;
  overflow-y: auto; /* Add this line to make the content container scrollable */
  height: 80vh;
  overflow-x: hidden; /* Hide the horizontal scroll bar */

}

.brand3 {
  font-weight: bold;
  color: #030303
}

.content-box3 {
  padding: 32px;
  width: 100%;
}

.title3 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 50px;
}

.logo-center .logo {
  width: 100px; 
  height: 100px; 
  position: absolute;
  background-color: #ccc; 
  opacity: 0.4;
}

.tabs3 {
  display: flex;
  gap: 50px;
}

.tabs3 span {
  cursor: pointer;
}

.tabs3 .active-tab {
  text-decoration: underline;
  text-decoration-color:#993dfd ;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.info-content3{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 700px;
  width: 30%;
}

.navbar-links3 {
  display: flex;
  justify-content: left;
  padding-left: 15px;
  color: #6b7280;

  
}

.navbar-links3 a {
  color: #6b7280; /* Black color */
  text-decoration: none;
  margin-right: 10px;
  margin-left: 15px;
  
}

.navbar-links3 a:last-child {
  margin-right: 0;
}

.navbar-links3 a.active-link {
  color: #6b7280; /* Black color */
  text-decoration: underline;
  text-decoration-color: #ac34f6; /* Blue color */
  padding-bottom: 2px; /* Added padding between text and underline */

}

.Centerlogo{
  width: 90%;
  height: 100%;
  z-index: 1;
  padding-left: 25px;
}
